nav{
  height: 100px;
  width: 100%;
  background-color: #092147;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

nav a{
  text-decoration: none;
  color: white;
  padding-right: 15px;
}

.centrar-contenido-navbar{
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  align-items: center;
}

.centrar-titulo {
  text-align: center;
}

/*Caracteristicas del div-fomurlario*/
.contenedor-formulario{
    display: flex;
    align-content: center;
    width: 100%;
    height: auto;
}

/* ---------------------- Estilos formulario  ---------------------------*/
form {
    display: flex;
    width: 100%;
    padding: 1em;
    padding-left: 60px;
    border: 1px solid #CCC;
    border-radius: 1em;
    flex-direction: column;
    align-items:  center;
    background-color: #e2e2e2;
}
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  form li + li {
    margin-top: 1em;
  }
  
  label {
    /* Tamaño y alineación uniforme */
    display: flex;
    width: 100%;
    justify-content: flex-start;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:16px;
  }
  
  input,
  textarea,select {
    /* Tamaño uniforme del campo de texto */
    margin: 5px 0px 5px 0px;
    width: 300px;
    box-sizing: border-box;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:16px;
    /* Hacer coincidir los bordes del campo del formulario */
    border: 1px solid #092147;
    border-radius: 5px;
  }

  input, select {
    height: 30px;
  }
  
  input:focus,
  textarea:focus {
    /* Destacado adicional para elementos que tienen el cursor */
    border-color: #092147;
  }
  
  textarea {
    /* Alinear los campos de texto multilínea con sus etiquetas */
    vertical-align: top;
  
    /* Proporcionar espacio para escribir texto */
    height: 5em;
  }
  
  .button {
    /* Alinear los botones con los campos de texto */
    padding-left: 0px; /* mismo tamaño que los elementos de la etiqueta */
  }
  
  button {
    /* Este margen adicional representa aproximadamente el mismo espacio que el espacio
       entre las etiquetas y sus campos de texto */
    box-sizing: content-box;
    width: 100px;
    height: 50px;
    background-color: #f5cf27;
    color: #092147;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    padding: 5px 15px 5px 15px;
    font-family:  Helvetica, Arial, sans-serif;
    font-size:16px;
  }



  .titulo-formulario{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    margin-bottom: auto;
  }

  .alinear-centro {
    text-align: center;
  }

  .boton-guardar {
    background-color: #f5cf27;
    color: black;
}

  .boton-limpiar {
    background-color: #092147;
    color: white;
  }

  .boton-cancelar {
    background-color: gray;
    color: white;
  }


  .elemento-form {
    width: 50%;
  }
/*--------------TERMINA DISEÑO DEL FORMULARIO ------------*/

