<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Styles/estilo_formularios.css" type="text/css" />
    <title>Document</title>
</head>

<body>

    <form action="">
        <div class="contenedor-formulario">

            <h1> Titulo formulario </h1>

            <label for="Usuario"><strong>Usuario</strong></label>
            <input type="text" class="input-text" placeholder="Usuario">

            <label for="Contrasena"><strong>Contrasena</strong></label>
            <input type="text" class="input-text" placeholder="Contrasena">

            <label for="Opciones"> <strong>Tipo de usuario</strong></label>
            <select name="empleado" class="input-opciones">
                <option value="empleado1" selected>Opcion 1</option>
                <option value="empleado2">Opcion 2 </option>
                <option value="empleado3">Opcion 3</option>
                <option value="empleado4">Opcion 4</option>
            </select>

            <button type="submit" class="boton-guardar">Capturar</button>
            <button type="reset" class="boton-limpiar"> Limpiar </button>
            <button type="button" class="boton-cancelar"> Cancelar </button>

        </div>

    </form>
</body>

</html>